{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>Sobre Nós</h1>
            <p class="text">
                A Clínica Pet conta com Pronto Socorro Veterinário 24h todos os dias, 
                inclusive aos Domingos e Feriados. Nossa equipe de Médicos Veterinários e nossa completa infraestrutura
                permitem o atendimento rápido em casos de urgência e emergência, com profissionais amplamente treinados
                para este tipo de situação, formados nas melhores Universidades do país. Exames de imagem e laboratoriais 
                são realizados no próprio laboratório clínico do hospital para confirmação dos diagnósticos.
            </p>
            <div class="skills">
                <span>NOSSA UNIDADES</span>
                <span>NOSSA EQUIPE</span>
                <span>CONTATOS</span>
            </div>
        </div>
    </div>
</body>
</html>