{% extends "clientes/base.html" %}
{% load meus_filtros %}
{% block title %}
Cadastro de clientes
{% endblock title %}

{% block content %}

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <div class="card-title"><h3>
            {% if request.resolver_match.url_name == 'cadastrar_cliente' %} 
                <b>CADASTRO DE CLIENTES</b>
            {% else %}
                <b>EDIÇÃO DE CADASTRO DE CLIENTES</b>
            {% endif %} </b></h3>
        </div>
    </div>
    <div class="box-body">
    <form method="post">
        {% csrf_token %}
        <h4><strong>DADOS DO CLIENTE</strong></h4>
        <hr>
        <div class="form-group">
            {{ form_cliente.nome.errors }}
            <label>NOME: </label>
            {{ form_cliente.nome|addclass:'form-control' }}

        </div>

        <div class="form-group">
            {{ form_cliente.sexo.errors }}
            <label>SEXO: </label>
            {{ form_cliente.sexo|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_cliente.data_nascimento.errors }}
            <label>DATA DE NASCIMENTO: </label>
            {{ form_cliente.data_nascimento|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_cliente.email.errors }}
            <label>EMAIL: </label>
            {{ form_cliente.email|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_cliente.profissao.errors }}
            <label>PROFISSÃO: </label>
            {{ form_cliente.profissao|addclass:'form-control' }}
        </div>        

        <hr>
        <h4><strong>DADOS DE ENDEREÇO</strong></h4>
        <hr>

        <div class="form-group">
            {{ form_endereco.rua.errors }}
            <label>RUA: </label>
            {{ form_endereco.rua|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_endereco.numero.errors }}
            <label>NÚMERO: </label>
            {{ form_endereco.numero|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_endereco.complemento.errors }}
            <label>COMPLEMENTO: </label>
            {{ form_endereco.complemento|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_endereco.bairro.errors }}
            <label>BAIRRO: </label>
            {{ form_endereco.bairro|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_endereco.cidade.errors }}
            <label>CIDADE: </label>
            {{ form_endereco.cidade|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_endereco.pais.errors }}
            <label>PAÍS: </label>
            {{ form_endereco.pais|addclass:'form-control' }}
        </div>
        
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
    </form>
{% endblock content %}