{% extends "clientes/base.html" %}

{% block title %}
Listagem de clientes
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>NOME</th>
                <th>DATA DE NASCIMENTO</th>
                <th>PROFISSÃO</th>
                <th>BAIRRO</th>
                <th>CIDADE</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            {% for i in clientes %}
            <tr>
                <td><a href="{% url 'listar_cliente_id' i.id %}">{{i.nome|safe}}</a></td>
                <td>{{i.data_nascimento | date:"d M Y"}}</td>
                <td>{{i.profissao|safe}}</td>
                <td>{{i.endereco.bairro|safe}}</td>
                <td>{{i.endereco.cidade|safe}}</td>
                <td>
                    <a href="{% url 'editar_cliente' i.id %}">Editar</a>
                    </h5>|</h5>
                    <a href="{% url 'remover_cliente' i.id %}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'cadastrar_cliente' %}"><button class="btn btn-primary">Cadastrar</button></a>
{% endblock content %}
